body {
    margin: 0;
}

.container {
    width: 1366px;
    height: 4148px;
    position: relative;
    background: white;
}

.img1 {
    width: 1366px;
    height: 688px;
    left: 0px;
    top: 80px;
    position: absolute;
}

.img2 {
    width: 1365px;
    height: 687px;
    left: 1px;
    top: 80px;
    position: absolute;
    opacity: 0.90;
}

.overlay1 {
    width: 1366px;
    height: 688px;
    left: 0px;
    top: 80px;
    position: absolute;
    opacity: 0.70;
    background: black;
}

.header {
    width: 1366px;
    height: 80px;
    left: 0px;
    top: 0px;
    position: absolute;
}

.menu {
    width: 1366px;
    height: 80px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: white;
}

.menu-items {
    left: 564px;
    top: 24px;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    display: inline-flex;
}

.menu-item {
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
    display: flex;
}

.menu-item div {
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    display: flex;
    color: #333333;
    font-size: 16px;
    font-family: Hind Madurai;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
}

.logo {
    color: black;
    font-size: 32px;
    font-family: Hind Madurai;
    font-weight: 700;
    line-height: 44px;
    word-wrap: break-word;
}

.section1 {
    left: 298px;
    top: 831px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    display: inline-flex;
}

.about-client {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    display: flex;
}

.about-client-title {
    color: #333333;
    font-size: 24px;
    font-family: Hind Madurai;
    font-weight: 600;
    line-height: 40px;
    word-wrap: break-word;
}

.about-client-description {
    width: 770px;
    color: #666666;
    font-size: 18px;
    font-family: Hind Madurai;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;
}

.client-image-container {
    width: 770px;
    height: 424px;
    position: relative;
}

.client-image-overlay {
    width: 770px;
    height: 424px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%);
}

.client-image {
    width: 64px;
    height: 64px;
    left: 353px;
    top: 180px;
    position: absolute;
}

.challenge {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    display: flex;
}

.challenge-title {
    color: #333333;
    font-size: 24px;
    font-family: Hind Madurai;
    font-weight: 600;
    line-height: 40px;
    word-wrap: break-word;
}

.challenge-description {
    width: 770px;
    color: #666666;
    font-size: 18px;
    font-family: Hind Madurai;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;
}

.challenge-highlight {
    width: 402px;
    height: 162.50px;
    position: relative;
}

.challenge-highlight-text {
    width: 378px;
    left: 24px;
    top: 1px;
    position: absolute;
    color: #333333;
    font-size: 28px;
    font-family: Hind Madurai;
    font-weight: 300;
    line-height: 40px;
    word-wrap: break-word;
}

.challenge-highlight-line {
    width: 0px;
    height: 162.50px;
    left: 0px;
    top: 0px;
    position: absolute;
    border: 6px #1289AF solid;
}

.solution {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    display: flex;
}

.solution-title {
    color: #333333;
    font-size: 24px;
    font-family: Hind Madurai;
    font-weight: 600;
    line-height: 40px;
    word-wrap: break-word;
}

.solution-description {
    width: 770px;
    color: #666666;
    font-size: 18px;
    font-family: Hind Madurai;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;
}

.solution-images {
    position: relative;
}

.solution-image-group1 {
    width: 373px;
    height: 497.54px;
    left: 0px;
    top: 0px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    display: inline-flex;
}

.solution-image1 {
    width: 372.97px;
    height: 209.54px;
}

.solution-image-group2 {
    width: 372.97px;
    height: 497.54px;
    left: 397px;
    top: 0.23px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    display: inline-flex;
}

.solution-image2 {
    width: 372.97px;
    height: 209.54px;
}

.cta-section {
    left: 100px;
    top: 271px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    display: inline-flex;
}

.cta-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: flex;
}

.cta-title {
    width: 674px;
    color: white;
    font-size: 56px;
    font-family: Hind Madurai;
    font-weight: 600;
    line-height: 62px;
    word-wrap: break-word;
}

.cta-subtitle {
    color: white;
    font-size: 16px;
    font-family: Hind Madurai;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 4px;
    word-wrap: break-word;
}

.cta-button {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #1289AF;
    box-shadow: 0px 2px 10px rgba(54, 1, 103, 0.30);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    display: inline-flex;
}

.cta-button-icon {
    width: 24px;
    height: 24px;
    position: relative;
}

.cta-button-icon div {
    width: 20px;
    height: 20px;
    left: 2px;
    top: 2px;
    position: absolute;
    background: white;
}

.cta-button-text {
    padding-top: 1px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    color: white;
    font-size: 16px;
    font-family: Hind Madurai;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
}
