body{
	background-color: beige;
}




.hero {
	background-image: linear-gradient(
		45deg,
		rgba(255, 255, 255, 0.75),
		rgba(255, 255, 255, 0.75)
	  ),
	  url(background.png);
	background-repeat: repeat;
	background-size: 240px;
	padding: 2rem;
  }