/* Creator */
.creator {
    color: #121212;
    font-size: 128px;
    font-weight: 700;
    line-height: 128px;
    word-wrap: break-word;
  }
  
  /* DESIGN */
  .design {
    color: #959393;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.20px;
    word-wrap: break-word;
  }
  
  /* Active creators in your country */
  .active-creators {
    color: #373636;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.20px;
    word-wrap: break-word;
  }
  
  .custom-element {
    width: 77.052px;
    height: 73.763px;
    transform: rotate(18.505deg);
    flex-shrink: 0;
  }
  