/* NAVIGACIJA */


* {
    margin: o;
    padding: 0;
    background-color: white;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body{
    font-family: 'Courier New', Courier, monospace;

}

nav{
    background: darkturquoise;
    height: 80px;
    width: 100%;
    
}



.li,
a,
button {
    color: var(--text-citation-and-h-2, #333);
    font-family: Hind Madurai;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;


}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    width: 1366px;
    height: 80px;
    flex-shrink: 0;
    

}

.logo {
    cursor: pointer;
    width: 72px;
    height: 44px;
    flex-shrink: 0;
    color: var(--Black, #000);
    font-family: Hind Madurai;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;

}



.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {}


.nav_links li a:hover {
    color: blue;
}




button {
    padding: 9px 25px;
    background-color: beige;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: var(--White, #FFF);

    /* Button */
    font-family: Hind Madurai;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */

}

button:hover {
    background-color: aqua;
    display: flex;
    padding: 5px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.p {
    color: var(--text-paragraph, #666);
    font-family: Hind Madurai;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 770px;
}



.background {
    width: 1366px;
    height: 80px;
    position: relative;

}








h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}













.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 47px 72px;
    box-sizing: border-box;

}

nav ul {
    padding: 0;
    margin: 0;
}




.h1 {
    align-items: normal;
    justify-content: right;

}