.side-bar, .side-bar * {
    box-sizing: border-box;
    }
.side-bar {
   background: linear-gradient(180deg, rgba(36, 19, 85, 1.00) 0%,rgba(19, 28, 85, 0.35) 61.77988648414612%,rgba(19, 28, 85, 0.00) 100%), linear-gradient(to left, #0f0627, #0f0627);
   border-radius: 12px;
   
           display: flex;
   
           flex-direction: column;
   
           gap: 24px;
   
           align-items: flex-start;
   
           justify-content: flex-start;
   
           
       width: 256px;
    height: 635px;
   
           position: relative;
   
       overflow: hidden;
   }

.header {
   
   border-style: solid;
    
   border-color: rgba(255, 255, 255, 0.10);
   
   border-width: 0px 0px 1px 0px;
   
   padding: 16px 40px 12px 40px;
   
           display: flex;
   
           flex-direction: column;
   
           gap: 0px;
   
           align-items: flex-start;
   
           justify-content: center;
   
           
       align-self: stretch;
   flex-shrink: 0;
   
           position: relative;
   
       }

.logo {
   
           display: flex;
   
           flex-direction: row;
   
           gap: 10px;
   
           align-items: center;
   
           justify-content: flex-start;
   
           
       flex-shrink: 0;
   
           position: relative;
   
       }

.frame {
   flex-shrink: 0;
   width: 100px;
    height: 28px;
   
           position: relative;
   
       overflow: visible;
   }

.main {
   padding: 0px 16px 0px 16px;
   
           display: flex;
   
           flex-direction: row;
   
           gap: 12px;
   
           align-items: flex-start;
   
           justify-content: flex-start;
   
           
       align-self: stretch;
   flex: 1;
   
           position: relative;
   
       }

.menu {
   
           display: flex;
   
           flex-direction: column;
   
           gap: 360px;
   
           align-items: flex-start;
   
           justify-content: flex-start;
   
           
       flex: 1;
   
           position: relative;
   
       }

.links {
   
           display: flex;
   
           flex-direction: column;
   
           gap: 8px;
   
           align-items: flex-start;
   
           justify-content: center;
   
           
       align-self: stretch;
   flex-shrink: 0;
   
           position: relative;
   
       }

.menu-item {
   border-radius: 8px;
   padding: 12px 24px 12px 24px;
   
           display: flex;
   
           flex-direction: row;
   
           gap: 12px;
   
           align-items: center;
   
           justify-content: flex-start;
   
           
       align-self: stretch;
   flex-shrink: 0;
   
           position: relative;
   
       }

.icon-settings {
   flex-shrink: 0;
   width: 16px;
    height: 16px;
   
           position: relative;
   
       overflow: visible;
   }

.item {
   color: #ffffff;
   text-align: left;
   font: 600 16px 'Inter-SemiBold', sans-serif;
   
           position: relative;
   
       }

.menu-item2 {
   background: #4d388d;
   border-radius: 8px;
   padding: 12px 24px 12px 24px;
   
           display: flex;
   
           flex-direction: row;
   
           gap: 12px;
   
           align-items: center;
   
           justify-content: flex-start;
   
           
       align-self: stretch;
   flex-shrink: 0;
   
           position: relative;
   
       }

.icon-book-open {
   flex-shrink: 0;
   width: 16px;
    height: 16px;
   
           position: relative;
   
       overflow: visible;
   }

.icon-bookmark {
   flex-shrink: 0;
   width: 16px;
    height: 16px;
   
           position: relative;
   
       overflow: visible;
   }

.icon-database {
   flex-shrink: 0;
   width: 16px;
    height: 16px;
   
           position: relative;
   
       overflow: visible;
   }

.icon-folder {
   flex-shrink: 0;
   width: 16px;
    height: 16px;
   
           position: relative;
   
       overflow: visible;
   }

.footer {
   
   border-style: solid;
    
   border-color: rgba(255, 255, 255, 0.10);
   
   border-width: 1px 0px 0px 0px;
   
   padding: 20px 16px 20px 16px;
   
           display: flex;
   
           flex-direction: row;
   
           gap: 8px;
   
           align-items: center;
   
           justify-content: flex-start;
   
           
       align-self: stretch;
   flex-shrink: 0;
   
           position: relative;
   
       }

.user {
   
           display: flex;
   
           flex-direction: row;
   
           gap: 12px;
   
           align-items: center;
   
           justify-content: flex-start;
   
           
       flex-shrink: 0;
   
           position: relative;
   
       }

.user-image {
   border-radius: 50%;
   flex-shrink: 0;
   width: 40px;
    height: 40px;
   
           position: relative;
   
       }

.frame-3792 {
   
           display: flex;
   
           flex-direction: column;
   
           gap: 2px;
   
           align-items: flex-start;
   
           justify-content: center;
   
           
       flex-shrink: 0;
   
           position: relative;
   
       }

.user2 {
   color: #ffffff;
   text-align: left;
   font: 600 16px 'Inter-SemiBold', sans-serif;
   
           position: relative;
   
       width: 157px;
   }

.mail {
   color: rgba(255, 255, 255, 0.60);
   text-align: left;
   font: 500 14px 'Inter-Medium', sans-serif;
   
           position: relative;
   
       width: 157px;
   }



    

 