/* Style for Differences Container */
.differences-container {
    background-color: #e0e0e0;
    padding: 20px;
    margin-top: 20px; /* Add space between containers */
  }
  
  /* Style for Contact Container */
  .Future is here-container {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px; /* Add space between containers */
  }
/* Style for Picture Blocks */
.picture-block {
    text-align: center;
    margin-top: 20px;
  }

  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }

  .footer h4 {
    color: #ffcc00;
  }

  .footer a {
    color: #fff;
    text-decoration: none;
  }

  .footer a:hover {
    color: #ffcc00;
  }
  
  .picture-block img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  /* Style for Picture Blocks */
.picture-block {
    text-align: center;
    margin-top: 20px;
  }
  
  .picture-block img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  .navbar {
    background-color: #fff; /* Set the background color to white */
    height: 80px;
    position: absolute;
    width: 100%;
    z-index: 1000;
  }
  .display4 {
    font-size: 90px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    word-wrap: break-word;
  }
  .navbar-brand {
    color: #000; /* Set the text color to black */
    font-size: 1.5rem;
    font-weight: bold;
  }

  .navbar-nav {
    margin-left: auto;
  }

  .nav-link {
    color: #000 !important;
  }

  .nav-link:hover {
    color: #ffcc00 !important;
  }

  .active-icon {
    color: #ffcc00 !important;
  }

  .navbar-nav .nav-item {
    margin-left: 15px; /* Add space between navbar elements */
  }

  .navbar-nav .nav-item:first-child {
    margin-left: auto; /* Align the first item to the right corner */
  }
  .overview {
    width: px;
    height: 20px;
    max-height: ;
  }

  .jumbotron {
    position: relative;
    padding: 0; /* Remove padding */
    margin-bottom: 0;
    color: #fff;
    text-align: center;
    background: url("your-image.jpg") center/cover no-repeat;
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover; /* Ensure the background covers the entire container */
  }

  .jumbotron-content {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }

  .jumbotron h1,
  .jumbotron p {
    margin: 0;
    color: #fff; /* Set text color to white */
  }

  .container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .content {
    padding: 20px;
  }

  /* Style for separate feature and application containers */
  .feature-container {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: px; /* Add space between containers */
  }

  .feature-block {
    text-align: center;
    margin-bottom: 20px;
    margin:;

  }

  .feature-block img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .feature-block h3 {
    color: #000;
  }

  .feature-block h4 {
    color: #555;
  }

  .application-container {
    background-color: #e0e0e0;
    padding: 20px;
  }

  /* Style for application blocks */
  .application-block {
    text-align: center;
    margin-bottom: 20px;
  }

  .application-block img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .application-block h2 {
    color: #000;
  }
  h2 {
    text-align: center;
  }

  .application-block p {
    color: #555;
  }
</style>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#"
      >VR <span style="color: black">World</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"