
.make-changes-in-this-frame * {
  box-sizing: border-box;
}

a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  appearance: none;
  background: none;

  -webkit-font-smoothing: antialiased;
}
.make-changes-in-this-frame {
  background: var(--white, #ffffff);
  width: 1366px;
  height: 4148px;
  position: relative;
  overflow: hidden;
}
.andrea-cau-n-v-7-g-jm-sq-3-zc-unsplash-6 {
  width: 1366px;
  height: 688px;
  position: absolute;
  left: 0px;
  top: 80px;
}
._3-press-start-3 {
  opacity: 0.8999999761581421;
  width: 1365px;
  height: 687px;
  position: absolute;
  left: 1px;
  top: 80px;
}
.rectangle-71 {
  background: var(--black, #000000);
  opacity: 0.699999988079071;
  width: 1366px;
  height: 688px;
  position: absolute;
  left: 0px;
  top: 80px;
}
.main-menu {
  width: 1366px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-6 {
  background: var(--white, #ffffff);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 7.32%;
  left: 41.29%;
  width: 51.39%;
  bottom: 30%;
  top: 30%;
  height: 40%;
}
.frame-12 {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-4 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.products {
  color: var(--text-citationand-h-2, #333333);
  text-align: left;
  font: var(--link, 400 16px/22px "HindMadurai-Regular", sans-serif);
  position: relative;
}
.frame-13 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.services {
  color: var(--text-citationand-h-2, #333333);
  text-align: left;
  font: var(--link, 400 16px/22px "HindMadurai-Regular", sans-serif);
  position: relative;
}
.frame-5 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.industries {
  color: var(--text-citationand-h-2, #333333);
  text-align: left;
  font: var(--link, 400 16px/22px "HindMadurai-Regular", sans-serif);
  position: relative;
}
.frame-2 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.news {
  color: var(--text-citationand-h-2, #333333);
  text-align: left;
  font: var(--link, 400 16px/22px "HindMadurai-Regular", sans-serif);
  position: relative;
}
.frame-3 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about-us {
  color: var(--text-citationand-h-2, #333333);
  text-align: left;
  font: var(--link, 400 16px/22px "HindMadurai-Regular", sans-serif);
  position: relative;
}
.career {
  color: var(--text-citationand-h-2, #333333);
  text-align: left;
  font: var(--link, 400 16px/22px "HindMadurai-Regular", sans-serif);
  position: relative;
}
.primary-btn-m {
  background: var(--primary-100, #1289af);
  border-radius: 4px;
  padding: 5px 16px 5px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 2px 10px 0px rgba(54, 1, 103, 0.3);
}
.contact-us {
  color: var(--white, #ffffff);
  text-align: left;
  font: var(--button, 400 16px/22px "HindMadurai-Regular", sans-serif);
  position: relative;
}
.logo {
  color: var(--black, #000000);
  text-align: left;
  font: var(--logo, 700 32px/44px "HindMadurai-Bold", sans-serif);
  position: absolute;
  right: 87.41%;
  left: 7.32%;
  width: 5.27%;
  bottom: 22.5%;
  top: 22.5%;
  height: 55%;
}
.frame-17 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 298px;
  top: 831px;
}
.frame-7 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about-the-client {
  color: var(--text-citationand-h-2, #333333);
  text-align: left;
  font: var(--h-2, 600 24px/40px "HindMadurai-SemiBold", sans-serif);
  position: relative;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-proin-sed-egestas-porttitor-sed-amet-amet-aliquam-iaculis-lectus-consequat-feugiat-eget-velit-sit-curabitur-purus-amet-urna-sagittis-molestie-facilisis-eros-euismod-morbi-sit-ligula-eget-feugiat-elementum-sed-est-semper-semper-placerat-consectetur-tellus-tincidunt-posuere-vel-condimentum-augue-nulla-sed-mauris-ac-ac-vel-at-justo-faucibus-in-nisi-vulputate-sit-id-blandit-at-justo-egestas-pulvinar-donec-cursus-porta-vulputate-porta-dignissim-posuere-semper-phasellus-ornare-facilisis-sit-pretium-risus-eleifend-viverra-urna-ut-potenti-ipsum-massa-egestas-magna-in-enim-nulla-adipiscing-quis-tempor-adipiscing-lacus-feugiat {
  color: var(--text-paragraph, #666666);
  text-align: left;
  font: 400 18px/32px "HindMadurai-Regular", sans-serif;
  position: relative;
  width: 770px;
}
.group-191 {
  flex-shrink: 0;
  width: 770px;
  height: 424px;
  position: static;
}
.andrea-cau-n-v-7-g-jm-sq-3-zc-unsplash-3 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  width: 770px;
  height: 424px;
  position: absolute;
  left: 0px;
  top: 312px;
}
.group-176 {
  width: 64px;
  height: 64px;
  position: absolute;
  left: 353px;
  top: 492px;
  overflow: visible;
}
.frame-15 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-10 {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-8 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.challenge {
  color: var(--text-citationand-h-2, #333333);
  text-align: left;
  font: var(--h-2, 600 24px/40px "HindMadurai-SemiBold", sans-serif);
  position: relative;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-est-risus-at-egestas-ut-a-ipsum-vulputate-vitae-dui-id-elit-egestas-pellentesque-morbi-nibh-etiam-et-fermentum-praesent-in-velit-nunc-tellus-porta-vel-cras-mus-malesuada-a-urna-sed-enim-lorem-vitae-urna-leo-viverra-metus-donec-enim-interdum-tempus-augue-aliquam-tellus-mauris-magna-mattis-enim-fusce-condimentum-egestas-sit-fringilla-pulvinar-lectus-tortor-in-vel-pellentesque-nisl-sit-viverra-tellus-dignissim-lacus-enim-vel-eros-non-purus-sit-malesuada-risus-dignissim-malesuada-velit-enim-euismod-turpis-turpis-elementum-augue-morbi-mauris-neque-leo-enim-sodales-sit-ac-varius {
  color: var(--text-paragraph, #666666);
  text-align: left;
  font: var(--paragraph, 400 18px/32px "HindMadurai-Regular", sans-serif);
  position: relative;
  width: 770px;
}
.group-158 {
  flex-shrink: 0;
  width: 402px;
  height: 162.5px;
  position: static;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sit-donec-posuere-pulvinar-nibh-euismod-amet-dictum {
  color: var(--text-citationand-h-2, #333333);
  text-align: left;
  font: var(--citation, 300 28px/40px "HindMadurai-Light", sans-serif);
  position: absolute;
  left: 208px;
  top: 345px;
  width: 378px;
}
.vector-10 {
  width: 0px;
  height: 162.5px;
  position: absolute;
  left: 184px;
  top: 344px;
  overflow: visible;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-eu-massa-et-nulla-cursus-vestibulum-euismod-diam-netus-morbi-tortor-elementum-habitant-id-aenean-mauris-consectetur-arcu-ipsum-proin-faucibus-nulla-sed-viverra-dolor-id-et-sagittis-auctor-ac-diam-tellus-dui-dictum-nam-purus-integer-sollicitudin-curabitur-imperdiet-diam-nisl-ac-egestas-euismod-nulla-aliquet-lectus-pharetra-praesent-aliquam-cursus-dignissim-ultricies-ac-risus-pharetra-cras-etiam-massa-quis-hendrerit-urna-felis-risus-consectetur-netus-urna-ut-a-volutpat-dignissim-tincidunt-cursus-quis-donec-varius-risus-integer-velit-tellus-malesuada-sed-turpis-tincidunt-bibendum-eu-lectus-vel-eget-quam-eu-sit-congue-risus-eget-at-volutpat-mauris-et-sed-fermentum-vel-lacus-vel-viverra-et-vitae-etiam-volutpat-ipsum-tincidunt-vel-enim-nisl-ullamcorper-sollicitudin-lacus-nibh-ultrices-mollis-vestibulum-ornare-velphaamet-dolor-magnis-morbi-arcu-phasellus-mattis-enim-praesent-enim-consequat-donec-id-lectus-venenatis-int-dapibus-commodo-viverra-sed-donec-adipiscing-ullamcorper-malesuada-mattis-urna-nisl-tortor {
  color: var(--text-paragraph, #666666);
  text-align: left;
  font: var(--paragraph, 400 18px/32px "HindMadurai-Regular", sans-serif);
  position: relative;
  width: 770px;
}
.frame-11 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.jorge-vasconez-eoj-sqf-k-8-jwk-unsplash-1 {
  flex-shrink: 0;
  width: 770px;
  height: 433.27px;
  position: relative;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit {
  color: var(--text-paragraph, #666666);
  text-align: left;
  font: var(--photolabel, 400 12px/20px "HindMadurai-Regular", sans-serif);
  position: relative;
}
.frame-16 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-122 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.solution {
  color: var(--text-citationand-h-2, #333333);
  text-align: left;
  font: var(--h-2, 600 24px/40px "HindMadurai-SemiBold", sans-serif);
  position: relative;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-habitant-at-tincidunt-eget-turpis-eu-turpis-tristique-ultrices-pulvinar-fusce-turpis-auctor-enim-sit-ut-ut-eget-nulla-nunc-turpis-cursus-nullam-congue-vulputate-arcu-facilisi-tortor-arcu-sociis-tempus-donec-at-vel-aliquam-ac-non-viverra-consectetur-placerat-cursus-mi-nunc-morbi-congue-euismod-purus-nascetur-consequat-orci-quis-porttitor-dictumst-luctus-pretiumnibhenim-quisque-vestibulum-quam-nulla-eu-sit-dictumst-vitae-nisi-congue-in-libero-leo-phasellus-urna-phasellus-mi-tellus-id-phasellus-nec-malesuada-egestas-pellentesque-malesuada-eu-pharetra-eu-pharetra-faucibus-varius-sapien-in-ornare-eu-ut-urna-mi-suspendisse-molestie-ipsum-varius-amet-non-amet-posuerc-convallis-duis-risus-nisl-nunc-massa-phasellus-phasellus-gravida-lorem-lacinia {
  color: var(--text-paragraph, #666666);
  text-align: left;
  font: var(--paragraph, 400 18px/32px "HindMadurai-Regular", sans-serif);
  position: relative;
  width: 770px;
}
.group-192 {
  flex-shrink: 0;
  width: 769.97px;
  height: 497.78px;
  position: static;
}
.frame-19 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 440px;
}
.jorge-vasconez-eoj-sqf-k-8-jwk-unsplash-12 {
  flex-shrink: 0;
  width: 372.97px;
  height: 209.54px;
  position: relative;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-odio-sit-augue-nibh-est-ullamcorper-egestas-aenean-faucibus-sed-interdum-consequat-ipsum-in-dolor-vel-mauris-blandit-arcu-vel-amet-risus-tempus-mattis-mattis-aliquet-semper-platea-dui-quisque-fermentum-aliquam-ut-urna-mollis-adipiscing-imperdiet-a-platea-tortor-pellentesque {
  color: var(--text-paragraph, #666666);
  text-align: left;
  font: var(--paragraph, 400 18px/32px "HindMadurai-Regular", sans-serif);
  opacity: 0.800000011920929;
  position: relative;
  width: 373px;
}
.frame-20 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 397px;
  top: 440.23px;
}
.jorge-vasconez-eoj-sqf-k-8-jwk-unsplash-2 {
  flex-shrink: 0;
  width: 372.97px;
  height: 209.54px;
  position: relative;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-odio-sit-augue-nibh-est-ullamcorper-egestas-aenean-faucibus-sed-interdum-consequat-ipsum-in-dolor-vel-mauris-blandit-arcu-vel-amet-risus-tempus-mattis-mattis-aliquet-semper-platea-dui-quisque-fermentum-aliquam-ut-urna-mollis-adipiscing-imperdiet-a-platea-tortor-pellentesque2 {
  color: var(--text-paragraph, #666666);
  text-align: left;
  font: var(--paragraph, 400 18px/32px "HindMadurai-Regular", sans-serif);
  opacity: 0.800000011920929;
  position: relative;
  width: 370px;
}
.frame-14 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 100px;
  top: 271px;
}
.frame-132 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-ipsum-dolorelit-ipsum {
  color: var(--white, #ffffff);
  text-align: left;
  font: var(--h-1, 600 56px/62px "HindMadurai-SemiBold", sans-serif);
  position: relative;
  width: 674px;
}
.group-156 {
  flex-shrink: 0;
  width: 123px;
  height: 22px;
  position: static;
}
.case-study {
  color: var(--white, #ffffff);
  text-align: left;
  font: var(--subtitle, 400 16px/22px "HindMadurai-Regular", sans-serif);
  position: absolute;
  right: 81.75%;
  left: 0%;
  width: 18.25%;
  bottom: 0%;
  top: 90.52%;
  height: 9.48%;
}
.primary-btn-m2 {
  background: var(--primary-100, #1289af);
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 2px 10px 0px rgba(54, 1, 103, 0.3);
}
.bx-bx-play-circle {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-18 {
  padding: 1px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.view-case {
  color: var(--white, #ffffff);
  text-align: left;
  font: var(--button, 400 16px/22px "HindMadurai-Regular", sans-serif);
  position: relative;
}
